body {
    background-color: white;
    background-image: url(./Assets/Today\ Aries\ Background.png);
    background-size: 70vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;

}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    margin-bottom: 40px;
}
ul {
    list-style-type: none;
    line-height: 18pt;
    font-size: 12pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image-container img{
box-sizing: border-box;
height: auto;
width: 400px;
}

#generateButton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 30px;
    width: 130px;
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
    background-color: #02322f;
    justify-content: center;
    color: white;

}
#container {
    text-align: center;

}

#hContainer{
    text-align: center;
}

#rContainer{
text-align: center;

}
#result{
    display: inline-block;
    width: 210px;
    margin: 200px, 0px, 0px, 0px;
 

}
#btn{
    position: absolute;
    padding-left: 50%;

}


.first{
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: 400px;
    margin-left: 110px;
    margin-top: 140px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

    .year{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        position: absolute;
        top: 17px;
        left: 265px;
        color: white;
    }
