body {
    background-image: url(./Assets/Today\ Aries\ Long\ Background.png);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

html {
    height: 100%;
    margin: 0;
}

footer {
    margin-top: auto;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20pt;
    margin-bottom: 40px;
}
ul {
    list-style-type: none;
    line-height: 18pt;
    font-size: 12pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0;
}


#generateButton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    height: 25px;
    width: 120px;
    font-size: 15px;
    border-radius: 20px;
    border-color: white;
    background-color: #02322f;
    justify-content: center;
    color: white;
    margin-top: 45%;


}
#container {
    text-align: center;

}

#hContainer{
    text-align: center;
}

#rContainer{
text-align: center;

}
#result{
    display: inline-block;
    max-width: 40%;
    margin-left: -5vh;
    margin-top: 5%;
}
#btn{
    position: absolute;
    padding-left: 50%;

}


.first{
    position: absolute;
    box-sizing: border-box;
    width: 200px;
    height: 400px;
    margin-left: 110px;
    margin-top: 140px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

    .year{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        position: absolute;
        top: 17px;
        left: 265px;
        color: white;
    }
